{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{template "title" .}} - GomiBako</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="shortcut-icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comic Neue">
	</head>
	<body>
		<header>
			<div class="heading">
				<a href="/"><img id="logo" src="/static/images/gomibako.png" alt="gomibako-logo" ></a>
				<!-- <h1><a href="/">GomiBako</a></h1> -->
			</div>
			<nav>
				<div class="nav-start">
					<a href="/">Home</a>
					<a href="/gomi/create">Create Gomi</a>
				</div>
				<!-- auth navigation -->
				<div class="nav-end">
					<a href="/user/signup">SignUp</a>
					<a href="/user/login">Login</a>
					<form method="POST" action="/user/logout">
						<input type="submit" class="logout-button" value="Logout" />
					</form>
				</div>
			</nav>
		</header>
		<section>
			{{template "body" .}}
		</section>
		{{template "footer" .}}
	</body>
</html>
{{end}}
