{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{template "title" .}} - GomiBako</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h1><a href="/">GomiBako</a></h1>
			<nav>
				<a href="/">Home</a>
				<a href="/">Create Gomi</a>
			</nav>
			<section>
				{{template "body" .}}
			</section>
			{{template "footer" .}}
		</header>
	</body>
</html>
{{end}}
