{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
	<h2>Latest Gomi List</h2>
	<div class=".latest_gomi_list">
		{{if .GomiList}}
			<table>
				<tr>
					<th>Title</th>
					<th>Created</th>
					<th>ID</th>
				</tr>
			{{range .GomiList}}
				<tr class="gomi_items">
					<td><a href="/gomi?id={{.Id}}">{{.Title}}</a></td>
					<td>{{.Created | humanizedDate}}</td>
					<td>#{{.Id}}</td>
				</tr>
			{{end}}
			</table>
		{{else}}
			<p>Nothing to show here...</p>
		{{end}}
	</div>
{{end}}
