{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "body"}}
{{with .Flash}}
<div class="flash flash-success">
	<p>{{.}}</p>
</div>
{{end}}
<form style='padding-top:30px' class="create_gomi" action="/user/login" method="POST" novalidate>
	{{with .Form}}
		{{with .ErrMap.Get "generic" }}
		<div class="flash flash-error">
			<p class="error">{{.}}</p>
		</div>
		{{end}}
		<div class="two_line create_gomi_content">
			<label>Email:</label>
			<input type="text" name="email" value='{{.Get "email"}}' />
		</div>
		<div class="two_line create_gomi_content">
			<label>Password:</label>
			<input type="password" name="passwd" />
		</div>
		<div class="create_gomi_submit">
			<input type="submit" value="Login" />
		</div>
	{{else}}
		<p class="error">Login form not available</p>
	{{end}}
</form>
{{end}}
