{{template "base" .}}

{{define "title"}}Gomi #{{.Gomi.Id}}{{end}}

{{define "body"}}
	{{with .Gomi}}
		<div class="gomi">
			<div class="metadata">
				<strong>{{.Title}}</strong>
				<span>#{{.Id}}</span>
			</div>
			<pre>
				<code>
					{{.Content}}
				</code>
			</pre>
			<div class="metadata">
				<time>{{.Created | humanizedDate}}</time>
				<time>{{.Expires | humanizedDate}}</time>
			</div>
		</div>
	{{end}}
{{end}}
