:root {
	--gomi_background: #1d2021;
	--gomi_light_orange: #fe8019;
	--gomi_dark_orange: #d65d0e;
	--gomi_cyan: #136663;
	--gomi_cyan_transparent: #13666350;
	--gomi_text: #ebdbb2;
	--gomi_light_gray: #7c6f64;
	--gomi_dark_gray: #32302f;
	--gomi_light_aqua: #8ec07c;
}

html, body {
	height: 100%;
	font-family: 'Comic Neue', serif;
	font-weight: 600;
}

body {
	background-color: var(--gomi_background);
}

header {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: [row1-start] 75% [row1-end] 15px [row2-start] auto [row2-end];
	position: fixed;
	margin-top: -185px;
	background-color: inherit;
}

section {
	margin-top: 185px;
	padding-left: 50px;
	padding-right: 50px;
	color: var(--gomi_text);
}

section h2 {
	padding: 20px 0px 10px 0px;
}

nav {
	background: var(--gomi_dark_gray);
	grid-row-start: row2-start;
	grid-row-end: 3;
	gap: 50;
	display: flex;
	justify-content: flex-start;
	border: 3px solid var(--gomi_dark_orange);
	margin-right: 16px;
}

nav a {
	padding: 10px 50px;
	text-decoration: none;
	color: var(--gomi_light_orange);
	font-size: 1.25rem;
	font-style: bold;
	transition: transfrom 0.5s ease;
}

nav a:hover {
	transform: scale(1.25);
}

#logo {
	width: 200px;
	height: 100px;
	transition: transform 1.25s ease-in-out;
}

#logo:hover {
	transform: rotate(360deg);
}

.heading {
	display: flex;
	justify-content: center;
	background-color: var(--gomi_cyan_transparent);
	border: 3px solid var(--gomi_dark_orange);
	margin-right: 16px;
}

table {
	border: 3px solid var(--gomi_dark_orange);
	border-collapse: collapse;
	/* border-spacing: 0 5px; */
	width: 100%;
	text-align: left;
	background-color: var(--gomi_dark_gray);
}

tr:first-child {
	border: 3px solid var(--gomi_dark_orange);
	/* background-color: var(--gomi_light_gray); */
}

th, td {
	padding: 10px;
}

.gomi_items {
	background-color: var(--gomi_background);
}

.gomi_items td:first-child {
	color: var(--gomi_light_aqua);
}

.gomi {
	display: grid;
	grid-template-rows: [title-start] 15% [title-end] auto [ts-start] 10% [ts-end];
	/* background: #42404f; */
	border: 3px solid var(--gomi_dark_orange);
}

.gomi .metadata {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background: #32302f;
}

.gomi .metadata:first-child {
	border-bottom: 3px solid var(--gomi_dark_orange);
}

.gomi .metadata:last-child {
	border-top: 3px solid var(--gomi_dark_orange);
}

.gomi code {
	color: #ebdbb2;
	font-size: 1.05rem;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #32302f;
	font-size: 0.75rem;
	padding: 5px;
	text-align: center;
	font-size: 1.1em;
	color: var(--gomi_text);
}

footer > span {
	color: var(--gomi_cyan);
	font-size: 1.25em;
}

/* h1 a {
	color: #689d6a;
	font-weight: bolder;
	font-size: 3rem;
	text-decoration: none;
} */
